In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#number of schools, total students 
number_schools= school_data_complete["school_name"].value_counts()
total_schools=number_schools.nunique()

15

In [4]:
number_students=school_data_complete["student_name"].value_counts()
number_students
total_students=number_students.sum()
total_students

39170

In [5]:
budget=school_data_complete["budget"].unique()
total_budget=budget.sum()
total_budget

24649428

In [6]:
average_math=school_data_complete["math_score"].mean()
average_math

78.98537145774827

In [7]:
average_reading=school_data_complete["reading_score"].mean()
average_reading

81.87784018381414

In [8]:
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70,:]
passing_math_list=passing_math["student_name"].value_counts()
total_passing_math = passing_math_list.sum()
percent_passing_math=(total_passing_math/total_students)*100
percent_passing_math

74.9808526933878

In [9]:
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70,:]
passing_reading_list=passing_reading["student_name"].value_counts()
total_passing_reading = passing_reading_list.sum()
percent_passing_reading=(total_passing_reading/total_students)*100
percent_passing_reading

85.80546336482001

In [10]:
passing_math_reading=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)].count()["student_name"]
overall_passing=(passing_math_reading/total_students)* 100

overall_passing

65.17232575950983

In [11]:
#create DataFrame
district_summary = pd.DataFrame({"Total Schools":[total_schools],"Total Students": [total_students],
                                "Total Budget": [total_budget], "Average Math Score":[average_math],
                                 "Average Reading Score": [average_reading], "% Passing Math": [percent_passing_math],
                                 "% Passing Reading": [percent_passing_reading], "% Overall Passing" :[overall_passing]
                                
})

#print statments
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.87784,74.98%,85.81%,65.17%

In [19]:
#names, counts, budget, per student budget
school_names=school_data.set_index(["school_name"])["type"]
students_counts = school_data_complete['school_name'].value_counts()
school_budget = school_data_complete.groupby(["school_name"]).mean()['budget']
budget_per_student= (school_budget/students_counts)
#passing math
math_score_means = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#passing reading 
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#overall passing %
passing_both = school_data_complete[(school_data_complete["math_score"] >= 70) 
                                                  & (school_data_complete["reading_score"] >= 70)]
overall_passing_rate = passing_both.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [33]:
# school_summary= pd.DataFrame({"School Type":[school_names], "Total Students":[students_counts],
#                               "Total School Budget":[school_budget], "Per Student Budget": [budget_per_student],
#                               "Average Math Score":[school_passing_math], "Average Reading Score": [school_passing_reading],
#                               "% Passing Math": [per_school_passing_math], "% Passing Reading": [per_school_passing_reading],
#                               "% Overall Passing": [overall_passing_rate]
# })
#school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:,.2f}%".format)
#school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:,.2f}%".format)

# school_summary.head(15)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,Student ID student_name gender grad...,Student ID student_name gender grad...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 54.642283 Cabrera Hig...

In [38]:
school_summary = pd.DataFrame({"School Type": school_names,
                                   "Total Students": students_counts,
                                   "Total School Budget": school_budget,
                                   "Per Student Budget": budget_per_student,
                                   "Average Math Score": school_passing_math,
                                   "Average Reading Score": school_passing_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate})
school_summary

ValueError: could not broadcast input array from shape (11) into shape (15)

In [39]:
#Tope 5 performing schools by % overall passing 
top_schools = school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,Student ID student_name gender grad...,Student ID student_name gender grad...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 54.642283 Cabrera Hig...