In [296]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [297]:
#see headers on table
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [298]:
#DISTRICT SUMMARY 
#number of schools
number_schools= school_data_complete["school_name"].value_counts()
total_schools=number_schools.nunique()
#total students
number_students=school_data_complete["student_name"].value_counts()
total_students=number_students.sum()
#total budget
budget=school_data_complete["budget"].unique()
total_budget=budget.sum()
#average math score
average_math=school_data_complete["math_score"].mean()
#average reading score
average_reading=school_data_complete["reading_score"].mean()
#passing math %
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70,:]
passing_math_list=passing_math["student_name"].value_counts()
total_passing_math = passing_math_list.sum()
percent_passing_math=(total_passing_math/total_students)*100
#passing reading %
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70,:]
passing_reading_list=passing_reading["student_name"].value_counts()
total_passing_reading = passing_reading_list.sum()
percent_passing_reading=(total_passing_reading/total_students)*100
#passing math and reading % 
passing_math_reading=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)].count()["student_name"]
overall_passing=(passing_math_reading/total_students)* 100

In [299]:
#DISTRICT SUMMARY 
#create DataFrame
district_summary = pd.DataFrame({"Total Schools":[total_schools],"Total Students": [total_students],
                                "Total Budget": [total_budget], "Average Math Score":[average_math],
                                 "Average Reading Score": [average_reading], "% Passing Math": [percent_passing_math],
                                 "% Passing Reading": [percent_passing_reading], "% Overall Passing" :[overall_passing]
                                
})

#print statments
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [300]:
#SCHOOL SUMMARY 
#names, counts, budget, per student budget
school_names=school_data.set_index(["school_name"])["type"]
students_counts = school_data_complete['school_name'].value_counts()
school_budget = school_data_complete.groupby(["school_name"]).mean()['budget']
budget_per_student= (school_budget/students_counts)
per_school_counts = school_data_complete["school_name"].value_counts()
school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"] 
school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

#Passing math/ reading
per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

#passing math and reading 
passing_both = school_data_complete[(school_data_complete["math_score"] >= 70) 
                                                   & (school_data_complete["reading_score"] >= 70)]
#passing math %
math_percentage = (per_school_passing_math.groupby(['school_name']).count()['student_name']/per_school_counts)*100
#passing reading %
reading_percentage = (per_school_passing_reading.groupby(['school_name']).count()['student_name']/per_school_counts)*100
#passing both %
overall_passing_rate = (passing_both.groupby(["school_name"]).count()["student_name"] / per_school_counts) * 100
overall_passing_rate

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [301]:
#SCHOOL SUMMARY 
school_summary = pd.DataFrame({"School Type": school_names,
                                   "Total Students": students_counts,
                                   "Total School Budget": school_budget,
                                   "Per Student Budget": budget_per_student,
                                   "Average Math Score": school_math,
                                   "Average Reading Score": school_reading,
                                   "% Passing Math": math_percentage,
                                   "% Passing Reading": reading_percentage,
                                   "% Overall Passing": overall_passing_rate
                              })

school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map("{:,.2f}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("{:,.2f}".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map("{:,.2f}%".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:,.2f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:,.2f}%".format)
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [302]:
#TOP PERFORMING SCHOOLS
#Top 5 performing schools by % overall passing 
top_schools = school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

In [303]:
#BOTTOM PERFORMING SCHOOLS
#Worst 5 performing schools by % overall passing 
top_schools = school_summary.sort_values(["% Overall Passing"], ascending=True)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

In [304]:
#MATH SCORES BY GRADE
#seperating 9,10,11,12
math_ninth = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')["math_score"].mean()
math_tenth = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')["math_score"].mean()
math_eleventh = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')["math_score"].mean()
math_twelveth = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')["math_score"].mean()

#create a dataframe for each each grade by school
math_by_grade=pd.DataFrame({ '9th': math_ninth,
                            '10th':math_tenth,
                            '11th':math_eleventh,
                            '12th':math_twelveth,
    
})

math_by_grade = math_by_grade[['9th', '10th', '11th', '12th']]
math_by_grade.index.name = "School"
math_by_grade

                             9th       10th       11th       12th
School
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [305]:
#READING SCORES BY GRADE
#seperating 9,10,11,12
reading_ninth = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
reading_tenth = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
reading_eleventh = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
reading_twelveth = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#create a dataframe for each each grade by school
reading_by_grade=pd.DataFrame({ '9th': reading_ninth,
                            '10th':reading_tenth,
                            '11th':reading_eleventh,
                            '12th':reading_twelveth,
    
})

reading_by_grade = reading_by_grade[['9th', '10th', '11th', '12th']]
reading_by_grade.index.name = "School"
reading_by_grade

                             9th       10th       11th       12th
School
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [306]:
#SCORES BY SCHOOL SPENDING 
#create bin and bin labels
bins = [0, 585, 630, 645, 675]
bin_names = ["<$584","$585-629","$630-644","$645-675"]
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
pd.cut(per_school_capita,bins, labels=bin_names).head()

school_summary["Spending Ranges"]=pd.cut(per_school_capita,bins, labels=bin_names)
school_summary=school_summary.drop("Per Student Budget", axis = 1) 
school_summary=school_summary.drop("School Type", axis = 1) 
school_summary=school_summary.drop("Total Students", axis = 1) 
school_summary=school_summary.drop("Total School Budget", axis = 1) 
school_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges
Bailey High School,77.05,81.03,66.68%,81.93%,54.64%,$585-629
Cabrera High School,83.06,83.98,94.13%,97.04%,91.33%,<$584
Figueroa High School,76.71,81.16,65.99%,80.74%,53.20%,$630-644
Ford High School,77.10,80.75,68.31%,79.30%,54.29%,$630-644
Griffin High School,83.35,83.82,93.39%,97.14%,90.60%,$585-629
Hernandez High School,77.29,80.93,66.75%,80.86%,53.53%,$645-675
Holden High School,83.80,83.81,92.51%,96.25%,89.23%,<$584
Huang High School,76.63,81.18,65.68%,81.32%,53.51%,$645-675
Johnson High School,77.07,80.97,66.06%,81.22%,53.54%,$645-675
Pena High School,83.84,84.04,94.59%,95.95%,90.54%,$585-629
Rodriguez High School,76.84,80.74,66.37%,80.22%,52.99%,$630-644
Shelton High School,83.36,83.73,93.87%,95.85%,89.89%,$585-629
Thomas High School,83.42,83.85,93.27%,97.31%,90.95%,$630-644
Wilson High School,83.27,83.99,93.87%,96.54%,90.58%,<$584
Wright High School,83.68,83.95,93.33%,96.61%,90.33%,<$584