In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [ ]:
#see headers on table
school_data_complete.head()

In [ ]:
#DISTRICT SUMMARY SECTION
#number of schools
number_schools= school_data_complete["school_name"].value_counts()
total_schools=number_schools.nunique()
#total students
number_students=school_data_complete["student_name"].value_counts()
total_students=number_students.sum()
#total budget
budget=school_data_complete["budget"].unique()
total_budget=budget.sum()
#average math score
average_math=school_data_complete["math_score"].mean()
#average reading score
average_reading=school_data_complete["reading_score"].mean()
#passing math %
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70,:]
passing_math_list=passing_math["student_name"].value_counts()
total_passing_math = passing_math_list.sum()
percent_passing_math=(total_passing_math/total_students)*100
#passing reading %
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70,:]
passing_reading_list=passing_reading["student_name"].value_counts()
total_passing_reading = passing_reading_list.sum()
percent_passing_reading=(total_passing_reading/total_students)*100
#passing math and reading % 
passing_math_reading=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)].count()["student_name"]
overall_passing=(passing_math_reading/total_students)* 100

In [117]:
#create DataFrame
district_summary = pd.DataFrame({"Total Schools":[total_schools],"Total Students": [total_students],
                                "Total Budget": [total_budget], "Average Math Score":[average_math],
                                 "Average Reading Score": [average_reading], "% Passing Math": [percent_passing_math],
                                 "% Passing Reading": [percent_passing_reading], "% Overall Passing" :[overall_passing]
                                
})

#print statments
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [112]:
#SCHOOL SUMMARY SECTION
#names, counts, budget, per student budget
school_names=school_data.set_index(["school_name"])["type"]
students_counts = school_data_complete['school_name'].value_counts()
school_budget = school_data_complete.groupby(["school_name"]).mean()['budget']
budget_per_student= (school_budget/students_counts)
grouped_school = school_data_complete.groupby(['school_name'])
#passing math
school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_passing_math=grouped_school["math_score"].mean()
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#passing reading 
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
school_passing_reading = school_passing_reading=grouped_school["reading_score"].mean()
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#overall passing %
passing_both = school_data_complete[(school_data_complete["math_score"] >= 70) 
                                                  & (school_data_complete["reading_score"] >= 70)]
overall_passing_rate = passing_both.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

KeyError: 'student_name'

In [116]:
school_summary = pd.DataFrame({"School Type": school_names,
                                   "Total Students": students_counts,
                                   "Total School Budget": school_budget,
                                   "Per Student Budget": budget_per_student,
                                   "Average Math Score": school_passing_math,
                                   "Average Reading Score": school_passing_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate
                              })
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map("{:,.2f}".format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map("{:,.2f}".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map("{:,.2f}%".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:,.2f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:,.2f}%".format)
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,77.05,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.06,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,76.71,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,77.10,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.35,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,77.29,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.80,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,76.63,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,77.07,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,83.84,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,76.84,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.36,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.42,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.27,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.68,93.33%,96.61%,90.33%

In [118]:
#Top 5 performing schools by % overall passing 
top_schools = school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.06,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.42,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.35,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.27,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,83.84,94.59%,95.95%,90.54%

In [119]:
#Worst 5 performing schools by % overall passing 
top_schools = school_summary.sort_values(["% Overall Passing"], ascending=True)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,76.84,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,76.71,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,76.63,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,77.29,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,77.07,66.06%,81.22%,53.54%

In [ ]:
#MATH SCORES BY GRADE