In [42]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [37]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [44]:
number_schools= school_data_complete["school_name"].value_counts()
number_schools
total_schools=number_schools.nunique()
total_schools

15

In [48]:
number_students=school_data_complete["student_name"].value_counts()
number_students
total_students=number_students.sum()
total_students

39170

In [51]:
budget=school_data_complete["budget"].unique()
total_budget=budget.sum()
total_budget

24649428

In [53]:
average_math=school_data_complete["math_score"].mean()
average_math

78.98537145774827

In [54]:
average_reading=school_data_complete["reading_score"].mean()
average_reading

81.87784018381414

In [58]:
passing_math=school_data_complete.loc[school_data_complete["math_score"]>=70,:]
passing_math_list=passing_math["student_name"].value_counts()
total_passing_math = passing_math_list.sum()
percent_passing_math=(total_passing_math/total_students)*100
percent_passing_math

74.9808526933878

In [60]:
passing_reading=school_data_complete.loc[school_data_complete["reading_score"]>=70,:]
passing_reading_list=passing_reading["student_name"].value_counts()
total_passing_reading = passing_reading_list.sum()
percent_passing_reading=(total_passing_reading/total_students)*100
percent_passing_reading

85.80546336482001

In [63]:
passing_math_reading=school_data_complete[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70)].count()["student_name"]
overall_passing=(passing_math_reading/total_students)* 100

overall_passing

65.17232575950983

In [71]:
district_summary = pd.DataFrame({"Total Schools":[total_schools],"Total Students": [total_students],
                                "Total Budget": [total_budget], "Average Math Score":[average_math],
                                 "Average Reading Score": [average_reading], "% Passing Math": [percent_passing_math],
                                 "% Passing Reading": [percent_passing_reading], "% Overall Passing" :[overall_passing]
                                 
                                
})

district_summary

district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.98%,85.805463,65.172326

In [79]:
school_names=school_data.set_index(["school_name"])["type"]
school_names

students_counts = school_data_complete['school_name'].value_counts()
school_budget = school_data_complete.groupby(["school_name"]).mean()['budget']
budget_per_student= (school_budget/students_counts)
budget_per_student
average_math_score=school_data_complete.groupby(["school_name"]).mean()['math_score']
average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64